@import "modules/colors";
@import "modules/icons";

$font: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;

html {
  overflow-y: scroll;
}

body {
  font-family: $font;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  margin: 0px;
  color: $metrix-darkgray;
}

@import "partials/controls";
@import "partials/formula";
@import "partials/handsontable";
@import "partials/modal";
@import "partials/scrollbar";
@import "partials/spinner";
@import "partials/statusbar";
