.body {
  position: absolute;
  top: $statusbar-height;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.container {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.content {
  position: absolute;
  top: $toolbar-height;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

@mixin panel() {
  background-color: $panel-gray;
  &:after {
    content: "";
    position: absolute;
    left:   $panel-padding;
    top:    $panel-padding;
    right:  $panel-padding;
    bottom: $panel-padding;
    border-radius: 3px;
    box-shadow: inset 0px 0px 5px 0px #777;
    pointer-events: none;
    z-index: 300;
  }
}

.panel-frameworklist {
  @include panel();
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: $filelist-width;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.panel-filelist {
  @include panel();
  position: absolute;
  width: $filelist-width;
  bottom: 0px;
  right: 0px;
  top: 0px;
}

.panel-table {
  @include panel();
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
