button {
  background-color: $metrix-darkblue;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  height: 24px;
  padding: 1px 5px 1px 5px;
  margin: 0px 2px 0px 2px;
  &:hover {
    background-color: lighten($metrix-darkblue, 5%);
  }
  .octicon {
    vertical-align: middle;
    width: 16px;
    text-align: center;
    margin: 2px 3px 2px 0px;
  }
  .customY {
    margin: 0px;
    line-height: 16px;
    padding: 0px;
    .octicon {
      margin: 0px;
    }
  }
}

input {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px 5px 0px 5px;
  line-height: 20px;
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
  background-color: white;
  color: $metrix-darkgray;
  height: 22px;
  outline: none;
  padding-left: 3px;
  padding-right: 3px;
}

select {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  background-color: $panel-gray;
  outline: none;
  appearance: none;
  &:hover {
    background-color: lighten($panel-gray, 5%);
  }
}

a.tooltip {
  text-decoration: none;
  position: relative;
  color: $metrix-darkgray;
  span {
    z-index: 10;
    display: none;
    position: fixed;
    margin-top: 1px;
    margin-left: -10px;
    width: 300px;
    padding: 3px 6px 3px 6px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
  &:hover {
    text-decoration: none;
    span {
      display: inline;
      position: fixed;
      color: white;
      border: none;
      border-radius: 5px;
      background-color: $metrix-darkgray;
      &:after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background-color: $metrix-darkgray;
        top: 5px;
        left: 305px;
        -webkit-transform: rotate(45deg);
      }
    }
  }
}

p.msg {
  margin: 30px;
}

input[type="file"] {
  &::-webkit-file-upload-button {
    visibility: hidden;
  }
}
