.menu-content {
  position: absolute;
  top: $toolbar-height;
  right: $toolwidth-close + $toolsep-width;
  width: 400px;
  height: auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  background-color: white;

  input.full, button.full {
    box-sizing: border-box;
    margin: 5px 0px 0px 0px;
    width: 100%;
  }

  p {
    margin: 0px;
  }

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: $metrix-blue;
  }

  li {
    cursor: pointer;
    padding: 8px 15px 8px 15px;

    &:hover {
      background-color: $metrix-darkblue;
    }

    .octicon {
      margin-right: 10px;
    }
  }

  .entry-content {
    padding: 5px;
    max-height: 700px;
    overflow-y: auto;
    max-height: 600px;
  }

  table {

    margin-top: 5px;

    background-color: white;
    border-collapse: collapse;

    .label {
      cursor: pointer;
      color: $metrix-darkgray;
      &:hover {
        color: black;
      }
    }
    .tag {
      background-color: $metrix-darkblue;
      padding: 2px 4px 2px 4px;
      border-radius: 2px;
      color: white;
      margin-left: 10px;
      .octicon {
        margin-right: 3px;
      }
    }

  }

  li.href {
    padding: 0px;

    a {
      padding: 8px 15px 8px 15px;
      text-decoration: none;
      color: $metrix-darkgray;
      display: block;
    }
  }

}
