.hotContainer {
  overflow: auto;
  position: absolute !important;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.currentRow.yOrdinate, .currentRow.yOrdinateCode, .currentRow.yAbstract, .currentRow.yAbstractCode {
  background-color: $ordinates-selected !important;
}
.currentCol.xOrdinateCode {
  background-color: $ordinates-selected !important;
}

.customYMember {
  font-family: monospace;
  font-size: 11px;
  color: #999;
  cursor: pointer;
  &:hover {
    color: #777;
  }
}

div.sheet {

  td.shaded {
    background-color: $shaded;
  }

  td.noCell {
    background-color: $noCell;
  }

  td.cellError {
    background-color: $cellError;
  }

  td.xOrdinate, td.yOrdinate, td.xOrdinateCode, td.yOrdinateCode, td.xNoOrdinate {
    background-color: $ordinates;
  }

  td.yOrdinateCode {
    text-align: right;
  }

  td.yAbstract {
    background-color: $abstractRows;
    font-weight: bold;
  }

  td.yAbstractCode {
    background-color: $abstractRows;
    text-align: right;
  }

}
