.modal-container {
  z-index: 20000;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -2px;
  }
  .modal {
    color: $metrix-darkgray;
    z-index: 25000;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 600px;
    background-color: white;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    h1 {
      margin: 0px;
      font-size: 25px;
      font-weight: bold;
      background-color: $metrix-blue;
      padding: 10px;
    }
    h2 {
      margin: 0px;
      font-size: 20px;
      padding: 10px;
    }
    p {
      margin: 0px 0px 10px 0px;
    }
    .modal-body {
      padding: 10px;
      max-height: 600px;
      overflow-y: auto;
    }
    .modal-controls {
      text-align: right;
      margin: 0px 10px 10px 10px;
    }
  }
}
