.module-control {
  top: 0px;
  right: 2 * $toolbar-height + 2;
  width: $modulebrowser-width - 2 * $toolbar-height - 3;
  height: $toolbar-height;
  z-index: 1001;
  position: absolute;
  background-color: $metrix-lightblue;

  .nav-button {
    @include clickable();
    float: left;
    width: 32px;
    height: 100%;
    text-align: center;
    line-height: $toolbar-height;
    .mega-octicon {
      vertical-align: middle;
    }
  }

  .current {
    @include clickable();
    float: left;
    width: $modulebrowser-width - 64px - 2 * $toolbar-height - 3;
    height: 100%;
    line-height: $toolbar-height;

    p {
      vertical-align: middle;
      text-align: center;
      font-size: 20pt;
      font-weight: bold;
      margin: 0px;
    }

  }

}

.modules {
  position: fixed;
  top: $statusbar-height + $toolbar-height;
  right: 0px;
  bottom: 0px;
  width: $modulebrowser-width;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  overflow-y: auto;

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  li {
    padding-top: 2px;
  }

  li.group {
    padding-left: 2px;
    font-weight: bold;
  }

  li.template {
    padding-left: 20px;
  }

  li.table {
    padding-left: 38px;
  }

  li.selected {
    background-color: $metrix-lightblue;
  }

  .octicon {
    width: 16px;
    text-align: center;
    margin-right: 4px;
  }

  .label {
    cursor: pointer;
    color: $metrix-darkgray;

    &:hover {
      color: black;
    }

  }

}
