@mixin spinner() {
  background-size: contain;
  width: 30px;
  background-position: left;
  height: 30px;
}

.spinner-on {
  display: block;
  @include spinner();
  background-image: url("../img/spinner.gif");
}

.spinner-off {
  @include spinner();
  background-image: url("../img/spinner.png");
}
