.spinner {
  width: 10px;
  height: 10px;
  border: 3px solid $metrix-darkblue;
  border-right-color: transparent;
  border-radius: 50%;
  margin: 3px 0px 0px 3px;
  -webkit-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
