.status {
  background-color: $metrix-blue;
  height: $statusbar-height;
  padding: 2px;
  color: black;
  .spinnerContainer {
    float: left;
    width: 25px;
    height: 25px;
  }
  .license {
    float: right;
    margin-right: 10px;
  }
  .menu {
    float: right;
  }
}
