.toolbar {
  position: relative;
  width: 100%;
  height: $toolbar-height;
  background-color: $metrix-blue;
  border-bottom: 1px solid darken($metrix-blue, 5%);
  background-image: url("../img/toolbar-background.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.tool {
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: 1004;
  background-color: $metrix-blue;
  p {
    margin: -1px 0px -2px 1px;
  }
  input {
    width: 100%;
    box-sizing: border-box;
  }
}

.toolsep {
  @extend .tool;
  width: 0px;
  border-right: 1px solid lighten($metrix-blue, 5%);
  border-left: 1px solid darken($metrix-blue, 10%);
}

.toolbutton {
  @extend .tool;
  cursor: pointer;
  color: #4D595D;
  &:hover {
    background-color: lighten($metrix-blue, 5%);
    color: $metrix-darkgray;
  }
  &:active {
    background-color: lighten($metrix-blue, 7%);
    color: black;
  }
  .icon {
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%,0px);
    font-size: 26px;
    line-height: 26px;
  }
  .label {
    position: absolute;
    bottom: 4px;
    line-height: 9px;
    font-size: 9px;
    left: 0px;
    right: 0px;
    text-align: center;
    text-transform: uppercase;
  }
}

.disabled {
  color: lighten(#4D595D, 30%);
  &:hover {
    color: lighten(#4D595D, 30%);
  }
}

// --

.tooldim-choose-file {
  width: $toolwidth-choose-file;
  left: 0px;
  padding: 3px;
  input {
    width: $toolwidth-choose-file - 6px;
  }
}

.tooldim-import-xbrl {
  width: $toolwidth-import-xbrl;
  left: $toolwidth-choose-file;
}

.tooldim-import-baresto {
  width: $toolwidth-import-baresto;
  left: $toolwidth-choose-file
      + $toolwidth-import-xbrl;
}

.tooldim-sep-xbrl {
  left: $toolwidth-choose-file
      + $toolwidth-import-xbrl
      + $toolwidth-import-baresto;
}

.tooldim-name-file {
  width: $toolwidth-name-file;
  left: $toolwidth-choose-file
      + $toolwidth-import-xbrl
      + $toolwidth-import-baresto
      + $toolsep-width;
  padding: 3px;
  input {
    width: $toolwidth-name-file - 6px;
  }
}

.tooldim-create {
  width: $toolwidth-create;
  left: $toolwidth-choose-file
      + $toolwidth-import-xbrl
      + $toolwidth-import-baresto
      + $toolsep-width
      + $toolwidth-name-file;
}

.tooldim-sep-create  {
  left: $toolwidth-choose-file
      + $toolwidth-import-xbrl
      + $toolwidth-import-baresto
      + $toolsep-width
      + $toolwidth-name-file
      + $toolwidth-create;
}

// --

.tooldim-close {
  width: $toolwidth-close;
  right: 0px;
}

.tooldim-sep-close {
  right: $toolwidth-close;
}

.tooldim-menu {
  width: $toolwidth-menu;
  right: $toolwidth-close
       + $toolsep-width;
}

.tooldim-sep-menu {
  right: $toolwidth-close
       + $toolsep-width
       + $toolwidth-menu;
}

.tooldim-mb {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: $toolwidth-mb;
  right: $toolwidth-close
       + $toolsep-width
       + $toolwidth-menu
       + $toolsep-width;
}

.tooldim-sep-mb {
  right: $toolwidth-close
       + $toolsep-width
       + $toolwidth-menu
       + $toolsep-width
       + $toolwidth-mb;
}

.tooldim-sheets {
  width: $toolwidth-sheets;
  right: $toolwidth-close
       + $toolsep-width
       + $toolwidth-menu
       + $toolsep-width
       + $toolwidth-mb
       + $toolsep-width;
  box-sizing: border-box;
  padding: 3px;
  .tooldim-conf {
    right: 0px;
    width: $toolwidth-conf;
  }
}

.tooldim-sep-sheets {
  right: $toolwidth-close
       + $toolsep-width
       + $toolwidth-menu
       + $toolsep-width
       + $toolwidth-mb
       + $toolsep-width
       + $toolwidth-sheets;
}

// --

.tooldim-fileinfo {
  right: $toolwidth-close
       + $toolsep-width
       + $toolwidth-menu
       + $toolsep-width
       + $toolwidth-mb
       + $toolsep-width
       + $toolwidth-sheets
       + $toolsep-width;
  left: 0px;
  overflow: hidden;
  .name {
    float: left;
    min-width: 150px;
    padding-left: 3px;
    line-height: $toolbar-height;
    font-size: 20pt;
    position: relative;
    top: -8px;
    font-weight: bold;
    margin: 0px 10px 0px 0px;
  }
  .saved {
    position: absolute;
    bottom: -1px;
    left: 3px;
    color: lighten(#4D595D, 30%);

    .octicon {
      width: 16px;
      text-align: center;
      color: #8DC63F;
    }

    .octicon-x {
      color: darken(red, 20%);
    }

    .spinner {
      margin: 2px;
      box-sizing: border-box;
      position: relative;
      top: 2px;
      width: 12px;
      height: 12px;
      border: 2px solid lighten(#4D595D, 30%);
      border-right-color: transparent;
      border-radius: 50%;
      -webkit-animation: spin 0.5s linear infinite;
      display: inline-block;
    }
  }
  .module {
    float: left;
    padding: 3px;
  }
}


@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
