.toolbar {
  width: 100%;
  height: $toolbar-height;
  background-color: $metrix-lightblue;
  border-bottom: 1px solid darken($metrix-lightblue, 5%);
}

@mixin toolsep() {
  height: $toolbar-height;
  width: 0px;
  border-right: 1px solid lighten($metrix-lightblue, 5%);
  border-left: 1px solid darken($metrix-lightblue, 10%);
}

.toolsep-left {
  @include toolsep();
  float: left;
}

.toolsep-right {
  @include toolsep();
  float: right;
}

@mixin toolsep-abs() {
  @include toolsep();
  z-index: 1004;
  position: absolute;
  top: 0px;
}

.toolsep-mb-right {
  @include toolsep-abs();
  right: 2 * $toolbar-height;
}

.toolsep-mb-left {
  @include toolsep-abs();
  right: $modulebrowser-width - 1;
}

@mixin tool() {
  height: $toolbar-height;
  background-color: $metrix-lightblue;
}

@mixin clickable() {
  cursor: pointer;
  &:hover {
    background-color: lighten($metrix-lightblue, 5%);
  }
}

.tool-newfile {
  @include tool();
  height: $toolbar-height - 20px;
  float: left;
  width: 300px;
  padding: 10px;
}

.tool-importxbrl {
  @include tool();
  height: $toolbar-height - 20px;
  float: left;
  width: 400px;
  padding: 10px;
}

.tool-modulebrowser {
  @include tool();
  float: right;
  width: $modulebrowser-width - 2 * $toolbar-height - 3;
}

@mixin tool-action() {
  @include tool();
  @include clickable();
  width: $toolbar-height;
  text-align: center;
  line-height: $toolbar-height;
  z-index: 1004;
  position: absolute;
  top: 0px;
  .mega-octicon {
    vertical-align: middle;
  }
}

.tool-close {
  @include tool-action();
  right: 0px;
}

.tool-menu {
  @include tool-action();
  right: $toolbar-height;
}

.tool-sheets {
  @include tool();
  float: right;
  width: 300px;
}
