.validation-closed {
  position: fixed;
  bottom: -5px;
  left: 40px;
  width: 40px;
  height: 35px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 800;
}

.validation-open {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: $validation-height;
  z-index: 800;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
