.validation-closed {
  position: fixed;
  bottom: -2px;
  left: -2px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: $metrix-blue;
  z-index: 1200;
  padding: 5px 5px 7px 7px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: bold;
  color: $metrix-darkgray;
  cursor: pointer;
  &:hover {
    color: black;
    background-color: lighten($metrix-blue, 5%);
  }
  .octicon {
    margin-right: 5px;
  }
}

.validation-open {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: $validation-height;
  z-index: 1200;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);

  .octicon {
    width: 16px;
    text-align: center;
    border-radius: 2px;
    padding: 3px;
    margin: 5px 0px 0px 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: $metrix-blue;
    cursor: pointer;
    color: $metrix-darkgray;
    &:hover {
      color: black;
      background-color: lighten($metrix-blue, 5%);
    }
  }

  .validation-content {
    position: absolute;
    top: 0px;
    left: 40px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;

    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
    }

    li {
      padding: 3px;
      border-bottom: 1px solid $panel-gray;

      &:hover {
        background-color: $panel-gray;
      }

    }

  }

}

.formula {
  .op {
    font-size: 20px;
    margin: 0px 1px 0px 1px;
  }
  div {
    display: inline-block;
    vertical-align: middle;
  }
  .hole, .param, .value {
    background-color: darken($panel-gray, 7%);
    margin: 4px;
    line-height: 16px;
    padding: 0px 4px 0px 4px;
    border: 1px solid $metrix-blue;
    border-radius: 2px;
    text-align: center;
    .holetable {
      color: gray;
      font-size: 12px;
    }
    .holecoords {
      padding-top: 2px;
      color: gray;
      font-size: 12px;
    }
  }
  .data {
    font-weight: bold;
    .missing {
      color: gray;
      font-style: italic;
    }
  }
  .val {
    font-weight: bold;
    color: #AA0E91;
    font-style: italic;
  }
}
