.validation-closed {
  position: fixed;
  bottom: -2px;
  left: -2px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: $metrix-blue;
  z-index: 1200;
  padding: 5px 5px 7px 7px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: bold;
  color: $metrix-darkgray;
  cursor: pointer;
  &:hover {
    color: black;
    background-color: lighten($metrix-blue, 5%);
  }
  .octicon {
    margin-right: 5px;
  }
}

.validation-open {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: $validation-height;
  z-index: 1200;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);

  .octicon {
    width: 16px;
    text-align: center;
    border-radius: 2px;
    padding: 3px;
    margin: 5px 0px 0px 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: $metrix-blue;
    cursor: pointer;
    color: $metrix-darkgray;
    &:hover {
      color: black;
      background-color: lighten($metrix-blue, 5%);
    }
  }

  .fromto {
    margin: 5px 0px 0px 5px;
    display: inline-block;
    min-width: 160px;
    text-align: center;
  }

  .disabled {
    background-color: white;
    cursor: default;
    &:hover {
      background-color: white;
      color: $metrix-darkgray;
    }
  }

  .validation-content {
    position: absolute;
    top: 33px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
    border-top: 1px solid #BBB;

    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
    }

    li {
      padding: 3px;
      border-bottom: 1px solid $panel-gray;

      &:hover {
        background-color: $panel-gray;
      }

    }

  }

}

.formula {
  .op {
    font-size: 20px;
    margin: 0px 1px 0px 1px;
  }
  .lop {
    background-image: url("../img/formula.png");
    background-repeat: no-repeat;
    height: 53px;
  }
  .lop-lparen {
    width: 15px;
    background-position: 2px 0px;
  }
  .lop-rparen {
    width: 15px;
    background-position: -146px 0px;
  }
  .lop-ge {
    width: 17px;
    background-position: -47px 0px;
  }
  .lop-le {
    width: 17px;
    background-position: -66px 0px;
  }
  .lop-eq {
    width: 18px;
    background-position: -82px 0px;
  }
  .lop-plus {
    width: 18px;
    background-position: -104px 0px;
  }
  .lop-minus {
    width: 18px;
    background-position: -122px 0px;
  }
  div {
    display: inline-block;
    vertical-align: middle;
  }
  .hole, .param, .value {
    background-color: darken($panel-gray, 7%);
    margin: 4px;
    position: relative;
    line-height: 16px;
    padding: 0px 4px 0px 4px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 2px;
    text-align: center;
    .holetable {
      color: gray;
      font-size: 12px;
      padding-left: 12px;
      padding-right: 12px;
    }
    .holecoords {
      padding-top: 2px;
      color: gray;
      font-size: 12px;
    }
    .decimals {
      position: absolute;
      top: -1px;
      right: -1px;
      font-size: 10px;
      color: darken($panel-gray, 7%);
      background-color: rgba(0,0,0,0.5);
      border-radius: 2px;
      line-height: 10px;
      padding: 1px 1px 1px 2px;
    }
  }
  .data {
    font-weight: bold;
    .missing {
      color: gray;
      font-style: italic;
    }
  }
  .val {
    font-weight: bold;
    color: #AA0E91;
    font-style: italic;
  }
}
