$metrix-lightblue:   #7DB9D4;
$metrix-darkblue:    #147290;
$metrix-blue:        #6097AC;

$metrix-darkgray:    #404042;
$panel-gray:         #F2F2F2;

$font-color:         #000000;
$font-color-light:   #FFFFFF;

$shaded:             #DDDDDD;
$noCell:             #000000;
$cellError:          #A05030;
$ordinates:          #EEEEEE;
$ordinates-selected: #D3D6DD;
$abstractRows:       #DDDDDD;
