@mixin arrow($degree, $top, $left) {
  margin-right: 13px;
  position: relative;
  width: 10px;
  height: 10px;
  float: left;
  &:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: $top;
    left: $left;
    border-right: 3px solid black;
    border-top: 3px solid black;
    -webkit-transform: rotate($degree);
  }
}

div.open {
  @include arrow(135deg, 6px, 8px);
}

div.closed {
  @include arrow(45deg, 8px, 7px);
}
